

.blog-section {
    padding-top: 228px;
    margin-bottom: 56px;
    .h1 {
        @media(max-width:991.98px) {
            font-size: 34px;
        }
    }
}

.blog-section__title {
    margin-bottom: 56px;
}

.main__image-container {
    max-width: 962px;
    padding-bottom: 80px;
    margin: 0px auto;
    img {
        max-width: 100%;
        height: auto;
    }
}

.main__blog-content {
    padding-bottom: 120px;
    margin-bottom: 120px;
    border-bottom: 1px solid #BBC8D4;
}