.post-body__description {
    display: flex;
    align-items: center;
    color: #7676B2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.14px;
    gap: 8px;
    @media(max-width:767.98px) {
        font-size: 12px;
        gap: 4px;
    }
}

.post-body__author {
    display: flex;
    align-items: center;
    gap: 8px;
    @media(max-width:767.98px) {
        gap: 4px;
    }
    img {
        border-radius:50% ;
    }
}

